*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
.main{
    background: url(felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(82, 82, 82);
   
    font-size: 5rem;
    position: relative;
    bottom: 220px;
}
 h1{
    color: rgb(82, 82, 82);
    position: relative;
    bottom: 220px;
 }

/*Formulario*/
.formulario{
    background: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
} 
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.singup {
    color:rgb(162, 26, 26);
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1em;
    text-align: center;
  }
  
  .card2 {
    position: relative;
    right: 100px;
    top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 400px;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
  }
  
  .inputBox,
  .inputBox1 {
    position: relative;
    width: 250px;
  }
  
  .inputBox input,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox1 input:valid~span,
  .inputBox1 input:focus~span {
    transform: translateX(156px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus,
  .inputBox1 input:valid,
  .inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1%
  }
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 3em;
  }
  
  .enter:hover {
    background-color: rgb(162, 26, 26);
    color: white;
    border-color: white;
  }

/*Footer*/
.footer-footer{
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    height: 10vh;
    position: relative;
   

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

  .footer-footer a{
    text-decoration: none;
    color: white;
    font-size: large;
  }
 